.feedbackForm {
  display: flex;
  flex-direction: column;
}

.textArea {
  border-radius: 8px;
  border: 0;
  outline: 1px #6b6b6b solid;
  padding: 0.5em;
  outline-offset: -1px;
}

.textArea:focus {
  outline: 3px #c0c0c0 solid;
  border: 0;
  outline-offset: -3px;
}

.error {
  color: #d03131;
  font-size: 12px;
  font-weight: 700;
  padding-bottom: 0.5em;
}

.buttonWrapper {
  margin-top: 1em;
  width: 100%;
}