.preview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.previewContent {
  display: flex;
  flex-direction: column;
}

.previewContent > * {
  margin: 0;
  padding: 0;
}

.previewContent h3 {
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 0.15em;
}

.link {
  text-decoration: none;
}

.meta {
  display: flex;
  flex-direction: row;
  gap: 0.75em;
  margin: 0.25em 0 0.75em 0;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  align-items: center;
}

.meta > span {
  font-size: 16px;
  color: #444444;
}

.meta > * span.tilted {
  transform: rotateZ(-55deg);
}

.description {
  font-size: 14px;
}

.author {
  font-weight: 600;
}

.previewMeta {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 12px;
  align-items: center;
}
