.feedbackList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feedbackList .feedbackList {
  gap: 0;
}

.feedbackList > * .feedbackList {
  border-left: 1px solid #dbdbdb;
  padding-left: 2em;
}

.feedbackList > .callToAction {
  display: block;
}

.feedbackList .callToAction {
  display: none;
}
